[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/google2a8b246bfda34850.html"
  to = "/google2a8b246bfda34850.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
